body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container{
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  padding:180px 0px 100px 0;
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  color:white;
  background-size:cover;
  text-align:center;
}

.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
}

.top-wrapper p{
  opacity:0.7;
}

.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
}

.btn:hover{
  opacity:1;
}

.signup{
  background-color:#239b76;
}

.facebook{
  background-color:#3b5998;
  margin-right:10px;
}

.twitter{
  background-color:#55acee;
}

.btn-wrapper{
  margin:20px 0;
}

.btn-wrapper p{
  margin:10px 0;
}

.fab{
  margin-right:5px;
}

header{
  height:65px;
  width:100%;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
}

.logo{
  width:124px;
  margin-top:20px;
}

.header-left{
  float:left;
}

.header-right{
  float:right;
  background-color:rgba(255,255,255,0.3);
  transition:all 0.5s;
}

.header-right:hover{
  background-color:rgba(255, 255, 255, 0.5);
}

.header-right a{
  line-height:65px;
  padding:0 25px;
  color:white;
  display:block;
}

.lesson-wrapper{
  height:500px;
  padding-bottom:80px;
  background-color:#f7f7f7;
  text-align:center;
}

.heading{
  padding:60px 0 30px 0;
  color:#5f5d60;
}

.heading h2{
  font-weight:normal;
}

.lesson{
  float:left;
  width:25%;
}

.lesson-icon{
  position:relative;
}

.lesson-icon p{
  position:absolute;
  top:80px;
  width:100%;
  color:white;
}

.txt-contents{
  width:80%;
  display:inline-block;
  margin-top:20px;
  font-size:12px;
  color:#b3aeb5;
}

.message-wrapper{
  border-bottom:1px solid #eee;
  padding-bottom:80px;
  text-align:center;
}

.message{
  background-color:#5dca88;
  padding:15px 40px;
  cursor:pointer;
box-shadow:0 7px #1a7940;
}

.heading h3{
  font-weight:normal;
}

.message:active{
  box-shadow:none;
  position:relative;
  top:7px;
}

footer img{
  width:125px;
}

footer p{
  color:#b3aeb5;
  font-size:12px;
}

footer{
  padding-top:30px;
}
